 <header>
      <nav>
            <img src="./assets/images/logo.png" alt="logo"/>
            <img src="./assets/images/menu-icon.png" alt="rayas" class="burguer"/>
            <ul class="navigation">
                <li>Premium</li>
                <li>Ayuda</li>
                <li>Descargar</li>
                <li>|</li>
                <li>Registrarse</li>
                <li>Iniciar sesión</li>
            </ul>
      </nav>
        <section class="azul">
            <h1>Prueba Premium gratis 3 meses</h1>
            <p id="cabeza">Escucha millones de canciones sin anuncios, a la carta y sin conexión</p>
            <p id="planes">VER PLANES</p>
            <p id="terminos">Rigen términos y condiciones. Los tres meses gratis no están disponibles para usuarios que ya hayan probado Premium.</p>            
        </section>
</header>
