.blanco {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}

.item img {
  width: 20%;
  height: 20%;
}

.item1, .item2, .item3, .item4 {
  display: flex;
  align-items: center;
  padding: 20px;
}

.item p {
  padding-left: 10px;
}

.uno {
  font-weight: bold;
}

h2 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 20px;
}